:root {
    --blue: #276AB8;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #D0021B;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #fff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #D0021B;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1400px;
    --font-family-sans-serif: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

@-ms-viewport {
    width: device-width
}

header,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem
}

body {
    position: relative;
    margin: 0
}

body > * {
    margin: 0 auto !important
}

h1,
h2,
p {
    margin-top: 0
}

b {
    font-weight: bolder
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #d9d9d9;
    text-decoration: underline
}

img,
svg {
    vertical-align: middle
}

img {
    border-style: none;
    max-width: 100%
}

svg {
    overflow: hidden
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1,
h2 {
    color: inherit
}

.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.1875;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25)
}

.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #dfdfdf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #9d0214;
    border-color: #910113
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(208, 2, 27, .5);
    box-shadow: 0 0 0 .2rem rgba(208, 2, 27, .5)
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-outline-primary {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff
}

.btn-outline-primary:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-outline-primary:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #fff;
    border-color: #fff
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #d0021b;
    border-color: #d0021b
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(208, 2, 27, .5);
    box-shadow: 0 0 0 .2rem rgba(208, 2, 27, .5)
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

@supports ((position: -webkit-sticky) or (position: sticky)) {}

.container-fluid {
    padding: 0 3.125rem
}

.btn {
    border-radius: 0;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .5rem 1.875rem .625rem
}

.btn:active,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-outline-primary:hover {
    color: #000 !important;
    text-decoration: none !important
}

h1,
h2 {
    font-weight: 700;
    font-family: "PT Serif", serif;
    font-size: 1.75rem;
    line-height: 1
}

h1,
h2 {
    margin-bottom: .9375rem
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.875rem;
    line-height: 1.4
}

p {
    margin-bottom: 1rem
}

.container-fluid {
    max-width: 1480px
}

.header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #e00300), color-stop(7%, #e20300), color-stop(47%, #c10300), to(#9c0200));
    background-image: linear-gradient(-180deg, #e00300 2%, #e20300 7%, #c10300 47%, #9c0200 100%);
    color: #fff;
    margin-bottom: .9375rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9
}

.header__logo {
    width: 17.5rem;
    height: 2rem;
    cursor: pointer;
    display: block
}

.header__logo img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block
}

.header__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header__item,
.nav__item {
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    margin: 0 .9375rem
}

.header__item:hover,
.nav__item:hover {
    text-decoration: underline;
    color: #fff
}

.header__item:first-child,
.nav__item:first-child {
    margin-left: 0
}

.header__item:last-child,
.nav__item:last-child {
    margin-right: 0
}

.header__item .icon {
    fill: #fff
}

.nav {
    font-size: 1.2rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav__item {
    margin: 0 calc(28px/2)
}

.footer {
    background-color: #d0021b;
    padding: 35px 0 40px;
    color: #fff;
    font-size: 16px
}

.icon-header__search {
    width: 22px;
    height: 22px;
    fill: initial
}

@media (max-width:1399.98px) {

    .header__control,
    .nav {
        display: none
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    h2,
    p {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }

    body {
        min-width: 992px !important
    }
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        -webkit-transition: none;
        transition: none
    }
}

@media (max-width:991.98px) {
    .container-fluid {
        padding: 0 .625rem
    }

    .header {
        padding: .9375rem 0;
        margin-bottom: .625rem
    }

    .header + * {
        padding-top: 55px !important
    }

    .header__logo {
        width: 8.75rem;
        height: 1rem
    }

    .header__item,
    .nav__item {
        display: none
    }

    .footer {
        font-size: 14px
    }
}

@media (max-width:767.98px) {
    .b-site {
        overflow: hidden
    }
}

.__rusindustry_rusind-subset * {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    
    max-height: 999999px;
    font-size: inherit
}

.__rusindustry_rusind-subset b {
    font: inherit;
    font-style: inherit;
    cursor: inherit;
    font-weight: 400
}

.__rusindustry_rusind-subset h1,
.__rusindustry_rusind-subset h2 {
    margin: 0;
    font-weight: 400
}

.__rusindustry_rusind-subset {
    position: relative;
    margin: 0;
    color: #000;
    font-family: MuseoSansCyrl500;
    font-size: 14px;
    line-height: 24px;
}

.__rusindustry_rusind-subset a {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

.__rusindustry_rusind-subset p {
    
    padding: 0
}

.__rusindustry_rusind-subset {
    position: relative
}

.__rusindustry_rusind-subset > .__rusindustry_section {
    position: relative;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width:800px) {
    .__rusindustry_rusind-subset > .__rusindustry_section {
        padding: 0 20px
    }
}

.__rusindustry_rusind-subset > .__rusindustry_section > .__rusindustry_section-inner {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.__rusindustry_rusind-subset.__rusindustry_article-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background: #fff;
    min-height: 100vh
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_article-shadow {
    position: absolute;
    z-index: 0;
    width: 100%;
    overflow-x: hidden;
    left: 0;
    top: 0
}

.__rusindustry_rusind-subset.__rusindustry_article-page > * {
    position: relative;
    z-index: 1
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section > .__rusindustry_section-inner {
    padding: 20px 0 10px;
    /*border-bottom: 5px solid #e20300*/
}

@media (max-width:640px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section > .__rusindustry_section-inner {
        padding: 35px 0 30px
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.2
}

@media (max-width:640px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_header {
        font-size: 30px;
        line-height: 1.2
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info {
    color: #848484;
    margin-top: 43px
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info > * {
    display: inline-block;
    vertical-align: top;
    position: relative
}

@media (max-width:640px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info > * {
        display: block
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info > * + :before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    border-right: 1px solid #d8d8d8;
    left: 20px;
    top: -8px
}

@media (max-width:640px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info > * + :before {
        display: none
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_info > * > * + * {
    margin-top: 7px
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section {
    margin-top: 20px
}

@media (max-width:640px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section {
        margin-top: 30px
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text {
    display: block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px
}

@media (max-width:400px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text {
        display: block
    }
}

@media (max-width:1100px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text > * {
        padding: 0 40px 0 0
    }
}

@media (max-width:800px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text > * {
        
        max-width: initial;
        padding: 0
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text h2 {
    color: #323232;
    font-family: MuseoSansCyrl300;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 48px
}

@media (max-width:800px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text h2 {
        font-size: 30px;
        line-height: 36px
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_subscribe-block .__rusindustry_subscribe-get-access .__rusindustry_categories .__rusindustry_list > :before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 16px;
    height: 12px;
    background: url("") no-repeat center center/contain
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_advertising > :before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 0;
    width: calc(100% + 40px);
    height: 100%;
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebebeb
}

@media (max-width:1100px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_advertising > :before {
        width: 100%;
        left: 0
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_advertising > :after {
    content: 'Яндекс Директ';
    display: block;
    white-space: nowrap;
    color: #969696;
    font-size: 12px;
    line-height: 1em;
    margin-top: 15px;
    font-family: MuseoSansCyrl500
}

@media (max-width:800px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside > :after {
        display: none
    }
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside > ::-webkit-scrollbar {
    width: 5px
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside > ::-webkit-scrollbar-track {
    background: 0 0
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside > ::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    will-change: background;
    border-radius: 3px
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside .__rusindustry_category .__rusindustry_list > * > * + :before {
    content: '';
    position: absolute;
    left: 0;
    top: -18px;
    width: 100%;
    height: 0
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_aside .__rusindustry_section-link .__rusindustry_tags > :before {
    content: '#'
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_articles-section .__rusindustry_top .__rusindustry_man > :before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    width: 20px;
    height: 40px;
    background: url("") no-repeat center center/9px auto, #646464;
    -webkit-transition: background .2s ease;
    transition: background .2s ease
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_articles-section .__rusindustry_top .__rusindustry_man > :hover:before {
    background: url("") no-repeat center center/9px auto, #999
}

.__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_articles-section .__rusindustry_top .__rusindustry_man-v2 > :before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 30px);
    right: 0;
    width: 30px;
    height: 60px;
    background: url("") no-repeat center center/12px auto, #646464;
    -webkit-transition: background .2s ease;
    transition: background .2s ease
}

.__rusindustry_text-section .__rusindustry_content h2 {
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 100% !important
}

@media print {
    @page {
        margin-left: 20mm;
        margin-right: 20mm;
        margin-top: 0;
        margin-bottom: 0
    }

    body {
        margin: 0;
        overflow: visible
    }

    .footer,
    .header,
    .header__logo {
        display: none !important
    }

    .__rusindustry_section-inner h1 {
        font-size: 52px !important
    }

    body div:nth-child(1) {
        height: auto !important
    }

    .__rusindustry_section-inner .__rusindustry_info * {
        font-size: 22px !important;
        line-height: 20px !important
    }

    .__rusindustry_content .__rusindustry_text h2 {
        font-size: 60px !important;
        line-height: 60px !important
    }

    body,
    html {
        height: 99% !important
    }
}

b {
    font-weight: 700 !important
}

.comment-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 0
}

.comment-item > div:first-child {
    width: 50px
}

.user-info {
    padding: 0 0 0 15px;
    width: calc(100% - 50px)
}

.user-info > div:first-child {
    padding-bottom: 10px;
    font-weight: 700
}

.comment-item > div:first-child img {
    width: 50px
}

.user-detail {
    font-size: 14px
}

.user-detail > div:first-child {
    font-weight: 400
}

@media screen and (min-width:768px) {
    .user-info {
        padding: 0 15px
    }

    .user-detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .user-detail > div:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-left: auto
    }
}

.__rusindustry_section-inner h1 + p {
    font-size: 20px;
    line-height: 1.4;
    margin: 20px 0
}

body {
    position: relative;
    -webkit-animation-name: fadeInLoad;
    -webkit-animation-duration: 1.6s;
    animation-name: fadeInLoad;
    animation-duration: 1.6s
}

@-webkit-keyframes fadeInLoad {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInLoad {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}

.main-content,
.main-content * {
    font-family: Arial, Helvetica, sans-serif !important
}

.header {
    padding: 15px 0
}

.header + * {
    padding-top: 50px !important
}

@media screen and (min-width:768px) {
    .header + * {
        padding-top: 90px !important
    }
}

.footer {
    width: 100%;
    text-align: center
}

.footer-img {
    display: inline-block;
    width: 40%
}

@media (max-width:480px) {
    .footer-img {
        width: 90%;
        text-align: center
    }

    .footer {
        padding: 25px 0
    }
}

@media (max-width:480px) {
    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_header {
        font-size: 30px
    }
}

@media (max-width:320px) {
    .header__logo {
        margin: 0 auto
    }

    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section .__rusindustry_header {
        font-size: 30px;
        line-height: 1.2
    }

    .__rusindustry_section-inner h1 + p {
        font-size: 16px;
        line-height: 1.4
    }

    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_text-section .__rusindustry_content .__rusindustry_text {
        font-size: 20px
    }

    .__rusindustry_rusind-subset.__rusindustry_article-page .__rusindustry_header-section > .__rusindustry_section-inner {
        padding: 0
    }

    .__rusindustry_info {
        margin-top: 25px !important
    }

    .footer-img {
        width: 150px !important
    }
}

.last-btn {
    -webkit-transition: background-color 300ms linear;
    transition: background-color 300ms linear
}

.last-btn:hover {
    background-color: #990617 !important
}

.comment-block {
    font-size: 18pх;
   
}

.comment-block .user-detail {
    font-size: 18px
}

.btn_red {
    display: block;
    max-width: 300px;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
    box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
    border-radius: 5px;
    background-color: #d0031a;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-family: arial !important;
    font-size: 20px
}

.alert-block {
    padding: 15px !important;
    margin: 0 0 20px !important;
    border: 1px solid #000;
    background: #fff2cc
}

.sub-title {
    font-size: 24px !important;
    font-weight: 700;
    line-height: 1.3
}

.info-doc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background-color: #fff2cc
}

.info-doc .docimg-wrap {
    width: 230px;
    display: block
}

.info-doc .info-doc_text {
    display: block;
    width: calc(100% - 250px);
    padding: 5px
}

@media (max-width:540px) {
    .info-doc .docimg-wrap {
        width: auto;
        margin: 10px auto
    }

    .info-doc .info-doc_text {
        width: 100%;
        text-align: center
    }
}

.c15 {
    margin: 10px auto;
    margin-bottom: 25px;
    width: 100%
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6
}

.c15 .c3 p {
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

.Figure img {
    display: block;
    margin: 0 auto;
    float: none
}

.bg_mm {
    background-color: antiquewhite;
    text-align: center
}

.c2 {
    width: 50%
}

.left_count {
    display: table;
    text-align: center;
    padding: 10px 30px;
    background: red;
    margin: 12px auto;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 130% !important;
    border-radius: 5px
}

.left_count .prod_left_val {
    font-size: 52px !important;
    padding: 10px;
}

.bg_tt {
    background: #FFECA6;
    padding: 20px
}

p.rul_1 {
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 0;
    font-size: 120%
}

h4.rul_3 {
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 0;
    font-size: 110%
}

p.rul_2 {
    text-align: center;
    font-weight: bold;
    font-size: 120%
}

.ListBlock-root {
    margin: 15px 0;
    padding: 0;
    list-style: none
}

.ListBlock-root {}

@media only screen and (min-device-width:48em) {
    .ListBlock-root {
        margin: 20px 0
    }
}

.ListBlock-root li {
    position: relative;
    margin-bottom: 6px
}

.ListBlock-ul li {
    padding: 0 0 0 23px
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li {
        padding: 0 0 0 38px
    }
}

.ListBlock-ul li:last-child {
    margin-bottom: 0
}

.ListBlock-ul li:before {
    
    top: 0;
    left: 5px;
    width: 8px;
    content: "\2022";
    text-align: center;
    color: #ffc980;
    line-height: inherit
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li:before {
        left: 0;
        width: 36px;
        text-align: center
    }
}

.ListBlock-root_mm li {
    margin-left: 20px
}

.ft {
    font-size: 11px;
}

.user-info{ font-weight:400px !important}
